{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} {% endblock %}</title>
    <meta
      name="description"
      content="HSC Rankings of Board Exam Results in Bangladesh for Science, Commerce, and Arts groups"
    />
    <meta name="author" content="niruddesh jatra" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="HSC Rankings - Board Exam Results Bangladesh" />
    <meta property="og:description" content="View rankings and results for HSC board exams in Bangladesh, categorized by Science, Commerce, and Arts groups." />
    <meta property="og:image" content="{% static 'screenshots/home.png' %}" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HSC Rankings - Bangladesh Board Exam Results" />
    <meta name="twitter:description" content="Find board exam rankings for HSC in Science, Commerce, and Arts groups." />
    <meta name="twitter:image" content="{% static 'screenshots/home.png' %}" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="icon" href="{% static 'images/logo.ico' %}" />
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0SFEVH35GN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0SFEVH35GN');
  </script>
  <body>

    <!-- navigation bar -->
    <nav>
      <div class="group-btn">
        <a href="{% url 'rankings:results' group='SCIENCE' %}">Science</a>
        <a href="{% url 'rankings:results' group='BUSINESS_STUDIES' %}">Commerce</a>
        <a href="{% url 'rankings:results' group='HUMANITIES' %}">Arts</a>
      </div>
      <div class="search-btn">
        <form method="get" action="{% url 'rankings:results_default' %}">
          <input type="text" name="roll_no" placeholder="Search by roll number" required>
          <button type="submit">Search</button>
        </form>
        {% if error %}
          <p>{{ error }}</p>
        {% endif %}
      </div>
    </nav>

    <!-- Main Content -->
    <main class="main-content">{% block content %} {% endblock %}</main>

    <!-- Footer -->
    <footer>
      <div class="footer-content">
        <div class="contact-info">
          <h3>Contact</h3>
          <p>
            Email:<a href="mailto:work.nj3515@gmail.com" target="_blank"
              >&nbsp;work.nj3515@gmail.com</a
            >
          </p>
          <p>
            Phone:<a href="tel:+801626181662" target="_blank"
              >&nbsp;+801626181662</a
            >
          </p>
          <p>
            Github:<a href="https://github.com/NiruddeshJatra" target="_blank"
              >&nbsp;NiruddeshJatra</a
            >
          </p>
        </div>
      </div>
    </footer>
  </body>
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</html>
